<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @note.user %>
</p>

<p>
  <strong>Message:</strong>
  <%= @note.message %>
</p>

<p>
  <strong>Noteable:</strong>
  <%= @note.noteable_id %>
</p>

<p>
  <strong>Noteable type:</strong>
  <%= @note.noteable_type %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
