<div class="row">
  <div class="large-3"></div>
  <div class=" large-6 columns">
  <h2>Forgot Your Password?</h2>
    <div class="log-in-form">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", {class: "button large"} %>
      </div>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</div>
