<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :task_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :task_description %>
  </div>

  <div class="row">
    <div class="large-4 columns">
        <div class="field">
          <%= form.label :schedule_date %>
          <%= form.datetime_select :schedule_date, id: :task_schedule_date %>
        </div>
    </div>
    <div class="large-4 columns">
        <div class="field">
          <%= form.label :complete_date %>
          <%= form.datetime_select :complete_date, id: :task_complete_date %>
        </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :status_id %>
    <%= form.select(:status_id, @task_statuses) %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.select(:client_id, @clients) %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.select(:project_id, @projects) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
