<div class="row">
  <div class=" large-12 columns">
    <p id="notice"><%= notice %></p>

    <h1>Tasks</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Schedule date</th>
          <th>Complete date</th>
          <th>Client</th>
          <th>Project</th>
          <th>Status</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td><%= task.name %></td>
            <td><%= task.description %></td>
            <td><%= task.schedule_date %></td>
            <td><%= task.complete_date %></td>
            <td><%= task.client.name %></td>
            <td><%= task.project.description %></td>
            <td>
              <%= form_with(model: task, local: true) do |f| %>
                <div class="field">
                  <%= f.select(:status_id, @task_statuses, {}, :onChange=>"javascript: this.form.submit();") %>
                </div>
              <% end %>
            </td>
            <td><%= link_to 'Show', task %></td>
            <td><%= link_to 'Edit', edit_task_path(task) %></td>
            <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Task', new_task_path %>
  </div>
</div>
