<div class="row">
  <div class=" large-8 columns">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @task.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @task.description %>
    </p>

    <p>
      <strong>Schedule date:</strong>
      <%= @task.schedule_date %>
    </p>

    <p>
      <strong>Complete date:</strong>
      <%= @task.complete_date %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @task.status.name %>
    </p>

    <p>
      <strong>Client:</strong>
      <%= @task.client.name %>
    </p>

    <p>
      <strong>Project:</strong>
      <%= @task.project.description %>
    </p>

    <%= link_to 'Edit', edit_task_path(@task) %> |
    <%= link_to 'Back', tasks_path %>
  </div>
</div>
