<%= form_with(model: task_status, local: true) do |form| %>
  <% if task_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task_status.errors.count, "error") %> prohibited this task status from being saved:</h2>

      <ul>
      <% task_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :task_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
