<p id="notice"><%= notice %></p>

<h1>Task Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @task_statuses.each do |task_status| %>
      <tr>
        <td><%= task_status.name %></td>
        <td><%= link_to 'Show', task_status %></td>
        <td><%= link_to 'Edit', edit_task_status_path(task_status) %></td>
        <td><%= link_to 'Destroy', task_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task Status', new_task_status_path %>
