<p id="notice"><%= notice %></p>

<p>
  <strong>Project Type:</strong>
  <%= @type.name %>
</p>

<p>
  <strong>Project Type Description:</strong>
  <%= @type.description %>
</p>

<%= link_to 'Back', types_path %> |
<%= link_to 'Edit', edit_type_path %> |
<%= link_to 'Delete', type_path(@type), method: :delete, data: { confirm: 'Are you sure?' } %>
