<div class="row">
  <div class=" large-8 columns">
    <h1>Editing Client</h1>

    <%= render 'form', client: @client %>


    <%= link_to 'Show', @client %> |
    <%= link_to 'Back', clients_path %>
  </div>
</div>
