<div class="row">
  <div class=" large columns">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @client.name %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @client.phone %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @client.email %>
    </p>

    <p>
      <strong>Notes:</strong>
      <%= @client.notes %>
    </p>

    <%= link_to 'Edit', edit_client_path(@client) %> |
    <%= link_to 'Back', clients_path %>

    <p>
      <%= month_calendar events: @client.tasks do |date, tasks| %>
        <%= date.day %>

        <% tasks.each do |t| %>
          <div>
            <%= "#{t.name} - #{t.project.description} | #{t.status.name}" %>
          </div>
        <% end %>
      <% end %>
    </p>
  </div>
</div>
