<div class="row">
  <div class="large-3"></div>
  <div class=" large-6 columns">
    <h2>Sign Up</h2>
    <div class="log-in-form">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

        <%= f.label :email, {class: "sr-only"} %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",  placeholder: "email address" %>

        <%= f.label :password, {class: "sr-only"} %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off",  placeholder: "password" %>

        <%= f.label :password_confirmation, {class: "sr-only"} %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off",  placeholder: "password confirmation" %>

      <div class="actions">
        <%= f.submit "Sign up", {class: "button large"} %>
      </div>
    <% end %>
  </div>
<!-- <%= render "devise/shared/links" %> login link-->
  </div>
</div>
