<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :project_description %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.select(:client_id, @clients) %>
  </div>

  <div class="field">
    <%= form.label :type_id %>
    <%= form.select(:type_id, @types) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
