<div class="row">
  <div class=" large columns">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>

    <p>
      <strong>Client:</strong>
      <%= @project.client.name %>
    </p>

    <p>
      <strong>Type:</strong>
      <%= @project.type.name %>
    </p>

    <%= link_to 'Edit', edit_project_path(@project) %> |
    <%= link_to 'Back', projects_path %>

    <p>
      <%= month_calendar events: @project.client.tasks do |date, tasks| %>
        <%= date.day %>

        <% tasks.each do |t| %>
          <div>
            <%= "#{t.name} | #{t.status.name}" %>
          </div>
        <% end %>
      <% end %>
    </p>
  </div>
</div>
