<div class="row">
  <div class="large-3"></div>
  <div class=" large-6 columns">
    <h2>Log In</h2>
    <div class="log-in-form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: "button large" %>
    </div>
    <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
