<div class="row">
  <ul class="menu">
    <% if user_signed_in? %>
      <li>
        <%= link_to('Dashboard', root_path) %>
      </li>
      <li>
        <%= link_to('Clients', clients_path) %>
      </li>
      <li>
        <%= link_to('Tasks', tasks_path) %>
      </li>
      <li>
        <%= link_to('Projects', projects_path) %>
      </li>
      <li>
        <%= link_to('Project Types', types_path) %>
      </li>
      <li>
        <%= link_to('Task Statuses', task_statuses_path) %>
      </li>
    <% else %>
    <% end %>
  </ul>
</div>
