<div class="top-navbar">
  <div class="row">
    <div class="large-1 columns"></div>
    <div class="large-11 columns">
      <ul class="menu align-right">
        <% if user_signed_in? %>
          <li>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          </li>
        <% else %>
          <li>
            <%= link_to('Home', root_path) %>
          <li>
            <%= link_to('Login', new_user_session_path)  %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
